extends base_layout_with_logo
block content
 section(id="letter" class="pt-5 pb-5 border-top")
   div(class="container-xl")
     div(class="row popular_1 text-start w-50 mx-auto")
       div(class="col-md-12")
         h1(class="mb-4")  NEW USER SIGN UP
     div(class="row justify-content-center")
      div(class="col-md-10")
       form(action="/user_sign_up" method="post" id="UserRegisForm")
        div(class="row" id="display_part")
         div(class="col")
          div(class="contact_1r shadow p-4")
           div(class="contact_1ri row")
             div(class="form-group" id="form")
              //first row of input fields
              div(class="row")
               //display name field & error
               div(class="col-md-4")
                label(for="display_name")
                 b DISPLAY YOUR NAME
                 div(class="contact_1ril")
                  div(class="border_light")
                   input(type="text" class="form-control border-0" placeholder="riyyan" name="name_field" id="name_field")
                 //display name format 
                 div(class="col" id="display_name_format")
                  p(class="col_green" style="font-size: x-small;") * min:6 characters, first 4 characters must be alphabets only, followed by alphabets,numbers,_ or whitespaces
                 //display name error field
                 div(class="col" id="display_name_error")
                  span(class="col_green" id="name_field_error_msg" name="name_field_error_msg") #{name_field_error}
                  //if errors
                   //ul
                    //for error in errors
                  
               //empty space between columns
               div(class="col-md-2")
               //display email field & error
               div(class="col-md-4")
                label(for="email_name")
                 b EMAIL
                 div(class="contact_1ril")
                  div(class="border_light")
                   input(type="text" class="form-control border-0" name="email_field" id="email_field")
                 //email format
                 div(class="col" id="email_format")
                  p(class="col_green" style="font-size: x-small;") 
                 div(class="col" id="email_error")
                  span(class="col_green" id="email_field_error_msg" name="email_field_error_msg") #{email_field_error}
              //empty space between rows (correct it)
              div(class="row mb-3")
              div(class="row mb-3")
              //second row of input fields
              div(class="row")
               //display password field 
               div(class="col-md-4")
                label(for="password")
                 b PASSWORD
                 div(class="contact_1ril")
                  div(class="border_light")
                   input(type="password" class="form-control border-0" name="password_field" id="password_field")
                 //password format
                 div(class="col" id="password_format")
                  p(class="col_green" style="font-size: x-small;") * min:8 characters, at least 2 alphabets and at least one digit,'_', or ‘?’

                 //display password error field
                 div(class="col" id="password_error")
                  span(class="col_green" id="password_error_msg" name="password_error_msg") #{password_field_error}
               //empty space between columns
               div(class="col-md-2")
               //display confirm password field
               div(class="col-md-4")
                label(for="password")
                 b CONFIRM PASSWORD
                 div(class="contact_1ril")
                  div(class="border_light")
                   input(type="password" class="form-control border-0" name="confirm_password_field" id="confirm_password_field") 
                 //space
                 div(class="col")
                  p(class="col_green" style="font-size: x-small;") 

                 //display confirm password error field
                 div(class="col" id="confirm_password_error")
                  span(class="col_green" id="confirm_password_error_msg" name="confirm_password_error_msg") #{confirm_password_field_error}

              //submit button
              div(class="row")
               //empty column
               div(class="col-md-4")
               div(class="col-md-4")
                h6(class="mb-0 mt-5 text-center")
                 button(type="submit" class="button b d-block rounded-0") Create new account
                span(class="col_green" id="registration_error_msg" name="registration_error_msg") #{registration_error} 
                a(href="/resend_verification") Did not receive email? resend email
     script(src="/javascripts/new_user_sign_up.js") //original code
     //script(src="../util/new_user_sign_up.js")
     

     